/* 

--------TYPOGRAPHY--------
FONTS-SIZES
12px/16px/20px/24px/32px/40px/

FONT WEIGHT
400/700

LINE HEIGHT
1.2 / 1.5

LETTER SPACING
0/ -2px

FONT FAMILY
Poppins




--------COLORS--------------
PRIMARY
Base: #339af0 (sky blue)
Tint: #d0ebff (artic)
Shade: #1c7ed6 (deep sea)

SECONDARY
Base: #9775fa (lavendar) 
Tint: #e5dbff (moonlighth iris) 
Shade: #7048e8 (velvet night)

TERTIARY
Base: #ff922b (pumpkin) 
Tint: #ffe8cc (dawn)
Shade: #f76707 (lava)

GREY
Base: #495057 (slate)
Tint: #f1f3f5 (pebble)
Shade: #212529 (graphite)
white: #ffffff (white)
black: #000000 (black)



*/
/* --------------Global styles--------------- */
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

ul {
  list-style: none;
}
span{
  display: inline-block;
}

.small-text {
  font-size: 12px;
}

/* -----------Components------------- */
.btn {
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 8px;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #339af0;
  border: 2px solid #339af0;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #1c7ed6;
  color: #fff;
  border: 2px solid #1c7ed6;
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: #339af0;
  background-color: #fff;
  border: 2px solid #339af0;
}


.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: #1c7ed6;
  background-color: #fff;
  border: 2px solid #1c7ed6;
}


.btn-secondary:link,
.btn-secondary:visited {
  background-color: #9775fa;
  border: 2px solid #9775fa;
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #7048e8;
  border: 2px solid #7048e8;
  color: #fff;
}

.highlight {
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.highlight-primary {
  background-color: #339af0;
}

.highlight-secondary {
  background-color: #9775fa;
}

.highlight-tertiary {
  background-color: #ff922b;
}

.logo-md {
  width: 100px;
}

.logo-sm {
  width: 80px;
}


/* -------------Section----------- */
.features-sec{
  margin-bottom: 300px;
}

/* ---hero section--- */
.hero-section {
  text-align: center;
  margin-bottom: 300px;
}
.hero-heading{
  margin-bottom: 10px;
}
.hero-para{
  margin-bottom: 50px;
}
/* ---navbar--- */
.navbar{
  margin-bottom: 200px;
}
/* ---cta section--- */
.cta-section {
  text-align: center;
  margin-bottom: 300px;
}

.cta-card {
  background-color: #339af0;
  width: 1000px;
  text-align: center;
  padding: 100px 200px;
  border-radius: 20px;
}
.cta-heading{
  margin-bottom: 30px;
}

/* ---features section--- */
.features-main-heading {
  text-align: center;
  margin-bottom: 80px;
}
.features-heading{
  margin-bottom: 20px;
}
.features-img {
  width: 400px;
}

/* ------Footer--------- */
.footer {
  text-align: center;
}

.social-icon {
  width: 20px;
}